@import "./src/theme/theme-variables";

.weather-card{
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px 50px;

  &-location{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

  }

  &-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-icon{
      width: 80px;
    }

    & .temperature{
      margin: 30px 0;
    }
  }


  &-info{
    width: 100%;
    display: flex;
    margin-top: 50px;
    &-wrap{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .wind{
        margin: 5px 0;
        display: flex;
        align-items: center;
      }
      & img.icon{
        width: 30px;
      }
    }
  }
}