@import "./src/theme/theme-variables.scss";

.navigation{
  width: 100%;
  display: flex;
  justify-content: center;

  &-input{
    width: 15px;
    max-width: 300px;
    font-size: 1.83rem !important;
    color: $secondary-color;
    border-bottom: 1px solid $primary-color;
  }
}