@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');
$heading-sizes: 5rem, 2.17rem, 1.83rem, 1.67rem, 1.08rem, 0.92rem;
$paragraph-size: 1.08rem;

$primary-font: 'Source Sans Pro', sans-serif;
$primary-color: #696868;
$secondary-color: #242424;

$white-blur: rgba(255, 255, 255, 0.7);
$white-blur-min: rgba(255, 255, 255, 0.3);
