@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;700&display=swap');

$heading-sizes: 3.5rem, 2.17rem, 1.83rem, 1.67rem, 1.08rem, 0.92rem;
$paragraph-size: 1.08rem;

$primary-font: 'Radio Canada', sans-serif;
$primary-color: #E2EAF3;
$secondary-color: #2F3644;

$text-color: #838BAA;
$white-color: #ffffff;

$white-blur: rgba(255, 255, 255, 0.7);
$white-blur-min: rgba(255, 255, 255, 0.3);
