@keyframes loadingAnimation {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.preloader-card {
  &-text{
    animation: loadingAnimation infinite alternate;
    animation-duration: 2s;

  }
}
